h1{
    font-weight: 100;
    text-transform: uppercase;
    color: var(--text-color);
    text-shadow: 5px 5px 1px var(--dark-blue-shadow);
  }
  #container{
    width: 70vw;
    text-align: center;
    /* mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent); */
    -webkit-mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
  }
  ul{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
  }
  li{
    /* background: var(--light-blue); */
    /* background-color: aqua; */
    color: var(--text-color);
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 7px;
    height: 564px;
    width: 370px;
  /*  border: 1px outset var(--text-color); */
    /* box-shadow: 
      2px 2px 2px var(--dark-blue-shadow),    
      2px 3px 3px var(--dark-blue-shadow),
      2px 5px 5px var(--dark-blue-shadow),
      2px 8px 8px var(--dark-blue-shadow); */
  }

  .core {
    background-color: #F5F5F5;
  }
  
  #container[data-animated]{
    overflow: hidden;
  }
  #container[data-animated] #list{
    width: max-content;
    animation: scroll 20s linear infinite;
  }

  .dabb {
    display: flex;
    justify-content: center;
    /* margin-bottom: 4%; */
  }
  
  @keyframes scroll{
    to{
      translate: calc(-50% - 5px);
    }
  }