#cbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: bisque; */
    margin-top: 40px;
}

.contus {
    padding: 40px;

}

.cleft {
    width: 370px;
    height: 457px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.cright {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 900px;
    height: 457px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#cinfo {
    display: flex;
    justify-content: space-evenly;
}

.ccbtn {
    display: flex;
    justify-content: end;
    margin-right: 45px;
}

.emjj {
    /* display: inline-block; */
    padding-left: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: #DB4444;
    padding: 5px;
    border-radius: 20%;
    color: white;
}

.cdq {
    font-weight: 500;
}

#cbtn {
    font-size: large;
    font-weight: 400;
    /* border: 1px solid rgb(157, 156, 156); */
    border: none;
    color: white;
    background-color: #DB4444;
    padding: 10px;
    width: 150px;
}
#cbtn:hover {
  background-color: #e57373;
}

.cds {
    background-color: #F5F5F5;
    text-align: left;
    /* border: 1px solid rgb(157, 156, 156); */
    border: none;
    padding: 10px;
  width: 240px;
  height: 45px;
}

.cds:focus, .ctesta:focus {
    outline: none;
}

.ctesta {
    background-color: #F5F5F5;
    /* border: 1px solid rgb(157, 156, 156); */
    border: none;
    text-align: left;
    padding: 10px;
    margin: 0px 45px;
    resize: none;
}