/* .saleSection h4{
    position: absolute;
    top: 30rem;
    left: 4.5rem;
    border-left: 15px solid;
    padding-left: 1rem;
    border-color: #DB4444;
    color: #DB4444;
    font-family: poppins;
} */

.writingPart{
    position: absolute;
    border: 1px solid;
    top: 30rem;
    left: 4.5rem;
}

.writingPart h4{
    border-left: 15px solid;
    border-color: #DB4444;
    color: #DB4444;
    font-family: poppins;
    padding-left: 1rem;
}

.writingPart h1{
    font-family: poppins;
    font-weight: 600;
    margin-top: 1rem;
}