.saleSection {
    /* border: 1px solid; */
    position: absolute;
    top: 30rem;
    height: 100vh;
    /* width: 100%; */
    /* overflow: hidden; */
}
.writingPart{
    position: relative;
    /* border: 1px solid; */
    left: 4.5rem;
}

.writingPart h4{
    border-left: 15px solid;
    border-color: #DB4444;
    color: #DB4444;
    font-family: poppins;
    padding-left: 1rem;
}

.writingPart h1{
    font-family: poppins;
    font-weight: 600;
    margin-top: 1rem;
}

.cardSection{
    display: flex;
    /* border: 1px solid; */
    height: 70vh;
    margin-top: 1rem;
    width: 100%;
    gap: 2rem;
}

.btn{
     position: relative;
     left: 50%;
     width: 10rem;
}